In [1]:
from src.api import query
from src.api import vendors
from src.api.bases.Vendor import ResourceMap

all_vendors = ResourceMap(vendors)
all_vendors

In [2]:
td_auth = all_vendors['td']['auth']()
td_auth

'SaMMlsYB17RLpcNXGepTi2ENHYAcErz3aNknoxi29ihJy4xsA+uU6O4S+KQQbGupE/uRKuLpJIqfJWC7nFlgSe7Q7pmegM+h+Y7zE/PJQ6t5LBe3w0q9SQIxSugtd5/BItXFAbJPq8woV9/mUbqQVTuwa8HpgY2K2TB95TfalVsaGuZnIRX34Uc+a3LVPnpGDrY7mt2XEwD6LfZcLVBC5L7f9drpAAfBqBt2Umt+q+emID6f8O0Z/toiD52WKaWtsI2buqLoPIrhzCKk7MrKoDu0CngCDPcns8q3Ets8IumU/DIJ7BrZoaSTySMdLZCtCBEuWO/2nOq1xuSzxhUNaZF7w/HPVw711hEAvLh6g5xAyE9AOlZ1x3tZ5j17bdy9FruBKjYEPonQ6c/oW0lUQJ0rAn12zFFQVT5R1GmuucuB/cg/vkRWdIeBmHWWS0Bqpqp4a7aoFJsiZZymgUfRwDTKE6p4qXYrHKKmqxbwE4QpvanaUQs370wVE6DmZfT92N1HvDK770h1nEmH1+rhFkW/Qhc+jYXdlwhKSQm+lrmSjWquxrUBH188Cj1100MQuG4LYrgoVi/JHHvl7fzoh2KT23oCZtMGdXGfssz3qdQ0c6xOs7YqrgOuz8yLWbIbtXLdEGZssCOIS/HBkuZw+AR0pxOAGF3J1CqFRG8FTDtdpCkGthbMJGXHDxNCwf2ZcE0D6AElxsymeymucLMoHzpDnLB9RFPKW1MBE9rlhHRbbAq8LHZfhEQf+UZoJ9taG0JdvLbdXAJlPT73VVxpTgW1K3zBhNS8Qsskl/7c8EoatXBe+y75Z2I/LRnHuL2QjY4/ZeRIhdleZDW3NVFvu8Owl5qJmhzI0mxLjSi1AItwP8wReLfs65LE5WAxdOGWP2EyZ7M/Kry2sykryK4k7YN+PGrOC716jgwWt4UCSUSa/dUIihwygoBuTFBEGy+Nd1jz9hNNINwJ0UP0gqeNdDhDtB8Wgqg7/H3q/icPSFbi864+E/I30h4QF0vZkvBX8N0xRWUbUG4YINoMewXErJ5TjBdtDmvoeBLdLTfa3R8D8Ta2YOI/fe2uhaPDeSc+oiMNuP/bWVWDw98BVRikYePkcQcpW8jXBAp91XeLITrfP+iBCRoU2WjDdm9FHfgLAeiK11hzJJw=212FD3x19z9sWBHDJACbC00B75E'

In [9]:
sample_data_flat = all_vendors['td']['quote'](td_auth, 'AAPL')
sample_data_flat.df

,symbol,bidPrice,askPrice,bidSize,askSize,quoteTimeInLong,tradeTimeInLong
0,AAPL,194.02,194.03,300,400,2023-12-28 19:28:08.424,2023-12-28 19:28:07.924

In [10]:
sample_data_nested = all_vendors['td']['price_history'](td_auth, 'AAPL')
sample_data_nested.df

         open      high       low     close  volume            datetime
0    192.8500  192.8600  192.8500  192.8600    1416 2023-12-27 12:00:00
1    192.8600  192.8600  192.8600  192.8600     104 2023-12-27 12:01:00
2    192.8500  192.8500  192.8500  192.8500     300 2023-12-27 12:07:00
3    192.8200  192.8200  192.8200  192.8200     111 2023-12-27 12:09:00
4    192.8300  192.8300  192.8300  192.8300    1500 2023-12-27 12:10:00
..        ...       ...       ...       ...     ...                 ...
627  193.2000  193.2000  193.2000  193.2000     270 2023-12-28 00:54:00
628  193.2200  193.2200  193.2100  193.2100     200 2023-12-28 00:56:00
629  193.2098  193.2098  193.1800  193.1800     531 2023-12-28 00:57:00
630  193.1800  193.1800  193.1599  193.1600    3340 2023-12-28 00:58:00
631  193.1599  193.1794  193.1599  193.1794     500 2023-12-28 00:59:00

[632 rows x 6 columns]

In [12]:
sample_data_flat.df.to_csv('sample_data_flat.csv', index=False)
sample_data_nested.df.to_csv('sample_data_nested.csv', index=False)